<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>spotify.slackbot</string>

    <key>WorkingDirectory</key>
    <string>/BOT_HOME/</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/node</string>
      <string>spotifybot.js</string>
    </array>

    <key>StandardOutPath</key>
      <string>/var/log/spotify.slackbot.out.log</string>

    <key>StandardErrorPath</key>
      <string>/var/log/spotify.slackbot.err.log</string>

    <key>RunAtLoad</key>
      <true/>
</dict>
</plist>

